
.select2-selection__choice {
    height: 40px;
    line-height: 40px;
    padding-right: 16px !important;
    padding-left: 16px !important;
    background-color: #0e252d !important;
    color: rgb(238, 231, 231) !important;
    border: none !important;
    border-radius: 3px !important;
}
.select2-results__option[aria-selected="true"] {
    background-color: #eee !important; 
}
.ui-datepicker-calendar {
    display: none;
}
.ui-datepicker-month {
    display: none;
}
.ui-datepicker-next,.ui-datepicker-prev {
    display:none;
}
/* maintenance/menu ingredients css for accordion transition */
.panel {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    /* height: 0; */
    overflow: hidden;
}
.card-menu-image-style {
    width: 65px;
    height: 65px;
}
.menu-image-style {
    width: 50px;
    height: 50px;
    object-fit: fill;
    margin: 6px;
}
#quantity-resize-contents{
    max-width: 150px;
}
#best-seller-title{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #CFA671;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}
#menu-title{
    text-align: center;
    font-weight: bold;
    font-size: 75px;
    color: #CFA671;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}
/* tabs filter */
.menu-box{
	padding: 70px 0px;
}

.heading-title{
	margin-bottom: 50px;
}
.heading-title h2{
	color: #010101;
	font-size: 28px;
	font-family: 'Arbutus Slab', serif;
}
.heading-title p{
	font-size: 18px;
	font-weight: 200;
	margin: 0px;
}

.filter-button-group {
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin: 10px 15px;
    display: inline-block;
}

.filter-button-group button {
    color: #333;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    background: #fff;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
}

.filter-button-group button.active {
    background: #cfa671;
    color: #fff;
    box-shadow: 2px 20px 45px 5px rgba(0,0,0,.2);
}

.gallery-single{
    max-width: 300px;
    max-height: 200px;
    object-fit: contain;
	  margin: 10px 10px;
}

.gallery-single {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.why-text {
    position: absolute;
    left: 0;
    bottom: -100%;
    right: 0;
    height: 100%;
    background: rgba(207, 166, 113, 0.9);
    padding: 12px 12px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.why-text h4{
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	font-family: 'Arbutus Slab', serif;
}
.why-text p{
	color: #ffffff;
	font-size: 18px;
	border-bottom: 1px dashed #010101;
	margin: 0px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.why-text h5{
	font-size: 28px;
	font-weight: 600;
	color: #ffffff;
}

.gallery-single:hover .why-text{
	bottom: 0px;
}
/* tabs filter */
#menu-list-hover{
    border: 2px solid gray;
    margin-right: 0px;
}
#menu-list-hover:active::before{
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .5; 
    z-index: 5;
    background: yellow;
  }
/* order menu image hover */
#menu-list-hover:hover{
    color: black;
    background: #CFA671;
    transform: scale(1.1);
}
#image-resize-height{
    height: 120px;
}
#resize-card-contents{
    margin-right: 2px;
}
#fullscreenOpenAdminMenu, #fullscreenCloseAdminMenu{
    padding: 5px;
}
#fullscreenOpenAdminMenu .mdi, #fullscreenCloseAdminMenu .mdi{
    font-size: 50px;
}
#fullscreenOpenOrders, #fullscreenCloseOrders{
    padding: 5px;
}
#fullscreenOpenOrders .mdi, #fullscreenCloseOrders .mdi{
    font-size: 50px;
}
@media (max-width: 768px) {
    #resizeContentButton{
        font-size: 8px;
        padding: 5px;
    }
    #image-resize-height{
        height: 100px;
    }
    #menuCardBodyResize{
        margin-top: 0;
        padding-top: 0;
    }
    #resize-card-contents{
        width: 180px;
        font-size: 10px;
    }
    #menuCartTitle{
        font-size: 12px;
    }
    #addToCartButton{
        font-size: 8px;
        padding: 5px;
    }
    .card-menu-image-style {
        width: 45px;
        height: 45px;
    }
    .menu-image-style {
        width: 30px;
        height: 30px;
        object-fit: fill;
        margin: 6px;
    }
    #resize-contents{
        font-size: 8px;
    }
    #resize-contents p{
        font-size: 8px;
    }
    #minusButton{
        font-size: 8px;
        padding: 5px;
    }
    #plusButton{
        font-size: 8px;
        padding: 5px;
    }
    #deletePerCartButton{
        font-size: 8px;
        padding: 5px;
    }
    #inputQuantityValue, .inputQuantityValue, #order_user_discount_id, 
    #payment_method, #order_type, #error_payment_method, #error_order_type{
        font-size: 8px;
    }
}